iframe{
    display: none;
}

.conteinerForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: right;
    // margin: 0 0 20px 0;
    .predupKorz{
        // padding-top: 2%;
        font-size: 20px;
        padding: 2% 10% 0 10%;
    }
    .mainOrder{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        
        .Label{
            display: flex;
            flex-direction: column;
            color: black;
            width: 100%;
            align-items:center;
            // justify-content: center;
            text-align: center;
            
            
                .namePageKorz{
                    display: flex;
                    font-family: 'Oswald', sans-serif;
                    font-size: 50px;
                    color: rgb(255, 255, 255);
                    height: 15vh;
                    align-items: center;
                    justify-content: center;
                    background: rgb(92, 92, 92);
                    width: 100%;
                    text-transform: uppercase;
                    border-bottom: 1px solid black;
                } 
                .titleKorzName{
                    padding: 2% 10% 0 10%;
                    display: flex;
                    flex-direction: row;
                    text-transform: uppercase;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding-bottom: 1%;
                    .tagPName{
                        display: flex;
                        flex-basis: 30%;
                        color: black;
                        font-family: 'Oswald', sans-serif;
                        font-size: 20px;
                    }
                    
                    .nameHolder{
                        font-family: 'Oswald', sans-serif;
                        font-size: 20px;
                        color: black;
                        flex-basis:70%;
                        text-align: center;
                        width: 100%;
                        border: 1px solid black;
                        }
                        .nameHolder::-webkit-input-placeholder { color: black; }
                        .nameHolder::-moz-placeholder { color: black; }
                    
                    
                }
               
                .numberKorz{
                    padding: 0 10% 0 10%;
                    display: flex;
                    flex-direction: row;
                    text-transform: uppercase;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .tagPNumber{
                        display: flex;
                        flex-basis: 30%;
                        color: black;
                        font-family: 'Oswald', sans-serif;
                        font-size: 20px;
                    }
                    .numberHolder{
                        font-family: 'Oswald', sans-serif;
                        font-size: 20px;
                        color: black;
                        flex-basis:70%;
                        text-align: center;
                        border: 1px solid rgb(0, 0, 0);
                        border-radius: 25px;
                        width: 100%;
                    }
            
                .numberHolder::-webkit-input-placeholder { color: black; }
                .numberHolder::-moz-placeholder { color: black; }
                }
            .outVisionClass{
                display: flex;
                flex-direction: column;
                // background: rgb(87, 87, 87);
                align-items: center;
                padding: 0% 6% 0 6%;
                margin: 0 0 2% 0;
                .neZnayChto{
                    display: none;
                }
                .korzItem{
                    display: flex;
                    flex-direction: row;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(10px);
                    width: 80%;
                    
                    border-bottom: 1px solid #000000;
                    // border-top: 1px solid #000000;
                    height: 50%;
                    .liKorz{
                        padding: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        .imgOrder{
                            display: flex;
                            width: 30vh;
                            height: 25vh;
                        }
                        .itemNameOrder{
                            width: 100%;
                            text-align: center;
                            font-family: 'Oswald', sans-serif;
                            font-size: 20px;
                        }
                        .txtItemKorz{
                            text-align: left;
                            font-family: 'Oswald', sans-serif;
                            font-size: 20px;

                        }
                        
                    }
                    
                    
                }
            }
            .LinkBtnDel{
                width: 20%;
                height: 40px;
                // margin-bottom: 10px;
                // background: #000000;
                font-family: 'Oswald', sans-serif;
                font-size: 30px;
                color: rgb(0, 0, 0);
                text-align: center;
                text-transform: uppercase;
                // padding-top: 1%;
            }
            .hidenOut0{
                display: none;
            }
            
            .changeObjBtn{
                display: flex;
                width: 20%;
            height: 50px;
            background: #868686;
            font-family: 'Oswald', sans-serif;
            font-size: 30px;
            color: white;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            &:hover{
                background: #ffffff;
                color:#868686;
                border: 1px solid #868686;
                box-shadow: 0 0 10px #868686, 0 0 40px;
                a{
                    color:#868686;
                }
            }
            a{
                color:white
            }
            }
            
        }
        .submitSend{
            width: 20%;
            height: 80px;
            margin: 10px 0 2% 40%;
            background: #FF4D4D;
            font-family: 'Oswald', sans-serif;
            font-size: 30px;
            color: white;
            text-align: center;
            text-transform: uppercase;
            // padding-top: 3%;
            &:hover{
                background: #ffffff;
                color:#FF4D4D;
                border: 1px solid #FF4D4D;
                box-shadow: 0 0 10px #FF4D4D, 0 0 40px 
            }
            
        }
    }
}